# Prithvi Shetty

In [206]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity='all'

## 1.Explore the data

In [3]:
d=pd.read_csv('titanic.csv.bz2')

In [98]:
d.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [44]:
d['survived'].groupby([d.pclass]).mean()

pclass
1    0.619195
2    0.429603
3    0.255289
Name: survived, dtype: float64

In [104]:
b=["pclass" + i for i in d.pclass.unique().astype(str)]
b

['pclass1', 'pclass2', 'pclass3']

In [49]:
d['survived'].groupby([d.sex]).mean()

sex
female    0.727468
male      0.190985
Name: survived, dtype: float64

In [112]:
c=["Sex "+ i for i in d.sex.unique().astype(str)]
c

['Sex female', 'Sex male']

In [65]:
d['survived'].groupby([d.parch]).mean()

parch
0    0.335329
1    0.588235
2    0.504425
3    0.625000
4    0.166667
5    0.166667
6    0.000000
9    0.000000
Name: survived, dtype: float64

In [135]:
d['survived'].groupby([d.embarked]).mean()

embarked
C    0.555556
Q    0.357724
S    0.332604
Name: survived, dtype: float64

In [146]:
c2=list(['Port C','Port Q','Port S'])

In [51]:
d.isnull().sum()

pclass          0
survived        0
name            0
sex             0
age           263
sibsp           0
parch           0
ticket          0
fare            1
cabin        1014
embarked        2
boat          823
body         1188
home.dest     564
dtype: int64

In [92]:
a=d.parch.unique().astype(str)

In [93]:
a = ["parch" + i for i in a]

In [94]:
a

['parch0',
 'parch2',
 'parch1',
 'parch4',
 'parch3',
 'parch5',
 'parch6',
 'parch9']

In [73]:
from collections import OrderedDict

In [148]:
df1=pd.DataFrame(OrderedDict({'Variable': a ,'Survived':d['survived'].groupby([d.parch]).mean().values}))
df1

  Variable  Survived
0   parch0  0.335329
1   parch2  0.588235
2   parch1  0.504425
3   parch4  0.625000
4   parch3  0.166667
5   parch5  0.166667
6   parch6  0.000000
7   parch9  0.000000

In [117]:
df2=pd.DataFrame(OrderedDict({'Variable': b ,'Survived':d['survived'].groupby([d.pclass]).mean().values}))
df2

  Variable  Survived
0  pclass1  0.619195
1  pclass2  0.429603
2  pclass3  0.255289

In [118]:
df3=pd.DataFrame(OrderedDict({'Variable': c ,'Survived':d['survived'].groupby([d.sex]).mean().values}))
df3

     Variable  Survived
0  Sex female  0.727468
1    Sex male  0.190985

In [160]:
df4=pd.DataFrame(OrderedDict({'Variable': c2 ,'Survived':d['survived'].groupby([d.embarked]).mean().values}))
df4

  Variable  Survived
0   Port C  0.555556
1   Port Q  0.357724
2   Port S  0.332604

In [161]:
df=pd.concat([df2,df3,df1,df4])

In [162]:
df['Drowned']=1-df.Survived

In [168]:
df['Missing']=0

In [170]:
df.Missing.iloc[[13, 14, 15]] = 2

C:\Users\Prathik\Anaconda3\lib\site-packages\pandas\core\indexing.py:194: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [341]:
df['Survival rate']=df.Survived*100

### Final summarized results by variable

In [342]:
df

      Variable  Survived   Drowned  Missing  Survival rate
0      pclass1  0.619195  0.380805        0      61.919505
1      pclass2  0.429603  0.570397        0      42.960289
2      pclass3  0.255289  0.744711        0      25.528914
3   Sex female  0.727468  0.272532        0      72.746781
4     Sex male  0.190985  0.809015        0      19.098458
5       parch0  0.335329  0.664671        0      33.532934
6       parch2  0.588235  0.411765        0      58.823529
7       parch1  0.504425  0.495575        0      50.442478
8       parch4  0.625000  0.375000        0      62.500000
9       parch3  0.166667  0.833333        0      16.666667
10      parch5  0.166667  0.833333        0      16.666667
11      parch6  0.000000  1.000000        0       0.000000
12      parch9  0.000000  1.000000        0       0.000000
13      Port C  0.555556  0.444444        2      55.555556
14      Port Q  0.357724  0.642276        2      35.772358
15      Port S  0.332604  0.667396        2      33.260394

## 2. Implement decision tree

### 2.1 Prepare data

In [183]:
import statsmodels.formula.api as smf

In [364]:
smf.ols('d.survived~d.sex*d.pclass*d.parch*d.age',data=d).fit().summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:             d.survived   R-squared:                       0.406
Model:                            OLS   Adj. R-squared:                  0.398
Method:                 Least Squares   F-statistic:                     46.99
Date:                Mon, 04 Jun 2018   Prob (F-statistic):          1.74e-105
Time:                        16:35:05   Log-Likelihood:                -468.60
No. Observations:                1046   AIC:                             969.2
Df Residuals:                    1030   BIC:                             1048.
Df Model:                          15
Covariance Type:            nonrobust
========================================================================================================
                                           coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------------
Intercept                                1.4484      0.171      8.449      0.000       1.112       1.785
d.sex[T.male]                           -1.0906      0.230     -4.739      0.000      -1.542      -0.639
d.pclass                                -0.2886      0.075     -3.861      0.000      -0.435      -0.142
d.sex[T.male]:d.pclass                   0.2629      0.097      2.721      0.007       0.073       0.452
d.parch                                 -0.1181      0.147     -0.806      0.420      -0.406       0.169
d.sex[T.male]:d.parch                    0.6945      0.203      3.429      0.001       0.297       1.092
d.pclass:d.parch                         0.0388      0.062      0.625      0.532      -0.083       0.161
d.sex[T.male]:d.pclass:d.parch          -0.2146      0.084     -2.563      0.011      -0.379      -0.050
d.age                                   -0.0055      0.005     -1.213      0.225      -0.014       0.003
d.sex[T.male]:d.age                      0.0060      0.006      1.018      0.309      -0.006       0.017
d.pclass:d.age                           0.0012      0.002      0.515      0.607      -0.003       0.006
d.sex[T.male]:d.pclass:d.age            -0.0030      0.003     -1.090      0.276      -0.009       0.002
d.parch:d.age                            0.0049      0.004      1.295      0.196      -0.003       0.012
d.sex[T.male]:d.parch:d.age             -0.0163      0.005     -3.262      0.001      -0.026      -0.006
d.pclass:d.parch:d.age                  -0.0020      0.002     -1.209      0.227      -0.005       0.001
d.sex[T.male]:d.pclass:d.parch:d.age     0.0051      0.002      2.325      0.020       0.001       0.009
==============================================================================
Omnibus:                       74.259   Durbin-Watson:                   1.889
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               89.221
Skew:                           0.714   Prob(JB):                     4.23e-20
Kurtosis:                       3.095   Cond. No.                     3.09e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.09e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

#### 1. Pclass, Sex, Parch , Age are the variables selected for the further use as they have high correlation and influence on the survival rate of the person.

#### 2.Splitting data

In [ ]:
from sklearn.model_selection import train_test_split

In [274]:
x_train,x_test,y_train,y_test=train_test_split(d[['pclass','sex','parch','embarked','age']],d['survived'],test_size=0.2)

### 2.2 Implement the decision tree

In [345]:
#1

eroot=-(d2.survived.mean())*np.log2(d2.survived.mean())-(1-d2.survived.mean())*np.log2(1-d2.survived.mean())
eroot

0.9511183912871488

In [276]:
#2
#The different age values in the training set

np.sort(x_train.age.unique())

array([ 0.1667,  0.3333,  0.4167,  0.6667,  0.75  ,  0.8333,  0.9167,
        1.    ,  2.    ,  3.    ,  4.    ,  5.    ,  6.    ,  7.    ,
        8.    ,  9.    , 10.    , 11.    , 12.    , 13.    , 14.    ,
       15.    , 16.    , 17.    , 18.    , 18.5   , 19.    , 20.    ,
       20.5   , 21.    , 22.    , 23.    , 23.5   , 24.    , 25.    ,
       26.    , 26.5   , 27.    , 28.    , 28.5   , 29.    , 30.    ,
       30.5   , 31.    , 32.    , 32.5   , 33.    , 34.    , 34.5   ,
       35.    , 36.    , 36.5   , 37.    , 38.    , 38.5   , 39.    ,
       40.    , 40.5   , 41.    , 42.    , 43.    , 44.    , 45.    ,
       45.5   , 46.    , 47.    , 48.    , 49.    , 50.    , 51.    ,
       52.    , 53.    , 54.    , 55.    , 55.5   , 56.    , 57.    ,
       58.    , 59.    , 60.    , 61.    , 62.    , 63.    , 64.    ,
       65.    , 66.    , 70.    , 70.5   , 71.    , 74.    ,     nan])

In [277]:
vect=pd.Series(np.sort(x_train.age.unique()))

In [278]:
len(x_train.age.unique())-1 #subtracting 1 to remove nulls

90

There are 90 different age values in the training set.

In [334]:
def entropy(x,y):
    if y==0:
        a=1
    elif x==0:
        a=0
    else:
        a=-(x/(x+y))*np.log2(x/(x+y))-(y/(x+y))*np.log2(y/(x+y))
    return a

In [336]:
entropy(0,0)

1

In [280]:
entropy(2,8)

0.7219280948873623

In [281]:
d2=pd.concat([x_train,y_train],axis=1)
len(d2)

1047

In [282]:
#3
a11=x_train[x_train.age<=0.3333]
a11s=len(d2[(d2.age<=0.3333) & (d2.survived==1)])
a11d=len(d2[(d2.age<=0.3333) & (d2.survived==0)])

In [283]:
a11

     pclass     sex  parch embarked     age
747       3    male      2        S  0.3333
763       3  female      2        S  0.1667

In [284]:
a12=x_train[x_train.age>0.3333]
a12s=len(d2[(d2.age>0.3333) & (d2.survived==1)])
a12d=len(d2[(d2.age>0.3333) & (d2.survived==0)])

In [287]:
e11=len(a11)/len(d2)*entropy(a11s,a11d)
e11

0.0019102196752626551

In [288]:
e12=len(a12)/len(d2)*entropy(a12s,a12d)
e12

0.7657790102573567

In [290]:
#4
eage1=e11+e12
eage1

0.7676892299326193

In [338]:
#5

#Entropy values of split with respect to age
entropy_age=[]
for i in vect.iloc[:-1]:
    print('For the age group: ',i)
    age1=x_train[x_train.age<=i]
    as1=len(d2[(d2.age<=i) & (d2.survived==1)])
    ad1=len(d2[(d2.age<=i) & (d2.survived==0)])
    age2=x_train[x_train.age>i]
    as2=len(d2[(d2.age>i) & (d2.survived==1)])
    ad2=len(d2[(d2.age>i) & (d2.survived==0)])
    e=(len(age1)/len(d2))*entropy(as1,ad1)+(len(age2)/len(d2))*entropy(as2,ad2)
    entropy_age.append(e)
    print('Entropy is ', e)

For the age group:  0.1667
Entropy is  0.7674363371509733
For the age group:  0.3333
Entropy is  0.7676892299326193
For the age group:  0.4167
Entropy is  0.7671447192227802
For the age group:  0.6667
Entropy is  0.7663449087203313
For the age group:  0.75
Entropy is  0.7665390419714864
For the age group:  0.8333
Entropy is  0.7657758050253693
For the age group:  0.9167
Entropy is  0.7640237748035283
For the age group:  1.0
Entropy is  0.7611520376035287
For the age group:  2.0
Entropy is  0.7653562171495877
For the age group:  3.0
Entropy is  0.7642224859972976
For the age group:  4.0
Entropy is  0.764133165052945
For the age group:  5.0
Entropy is  0.762994331713255
For the age group:  6.0
Entropy is  0.7629392029961971
For the age group:  7.0
Entropy is  0.7628693750419333
For the age group:  8.0
Entropy is  0.7616744670759902
For the age group:  9.0
Entropy is  0.7609937171738853
For the age group:  10.0
Entropy is  0.7620196714293801
For the age group:  11.0
Entropy is  0.7628732954991218
For the age group:  12.0
Entropy is  0.7618622760717324
For the age group:  13.0
Entropy is  0.7612229081955333
For the age group:  14.0
Entropy is  0.7615692857841777
For the age group:  15.0
Entropy is  0.7593471485645501
For the age group:  16.0
Entropy is  0.7609678711328041
For the age group:  17.0
Entropy is  0.7620691775066951
For the age group:  18.0
Entropy is  0.7646375479158507
For the age group:  18.5
Entropy is  0.7652798618939938
For the age group:  19.0
Entropy is  0.7653542658223599
For the age group:  20.0
Entropy is  0.7659123299083063
For the age group:  20.5
Entropy is  0.766063429535051
For the age group:  21.0
Entropy is  0.7675640262050852
For the age group:  22.0
Entropy is  0.7671249484656486
For the age group:  23.0
Entropy is  0.7671500950351833
For the age group:  23.5
Entropy is  0.7672243650656305
For the age group:  24.0
Entropy is  0.7666592711814806
For the age group:  25.0
Entropy is  0.7674610556820556
For the age group:  26.0
Entropy is  0.7676122674046195
For the age group:  26.5
Entropy is  0.7676446420105536
For the age group:  27.0
Entropy is  0.767629392881287
For the age group:  28.0
Entropy is  0.767722510306063
For the age group:  28.5
Entropy is  0.7676848269679468
For the age group:  29.0
Entropy is  0.7677425117735266
For the age group:  30.0
Entropy is  0.767745793222377
For the age group:  30.5
Entropy is  0.7677347874977469
For the age group:  31.0
Entropy is  0.7677126225179414
For the age group:  32.0
Entropy is  0.767733334770184
For the age group:  32.5
Entropy is  0.7677381410269726
For the age group:  33.0
Entropy is  0.7677107919529393
For the age group:  34.0
Entropy is  0.7676885520713825
For the age group:  34.5
Entropy is  0.7677261468868497
For the age group:  35.0
Entropy is  0.7674984589534634
For the age group:  36.0
Entropy is  0.7672964183505023
For the age group:  36.5
Entropy is  0.7673627322640467
For the age group:  37.0
Entropy is  0.7675735817384134
For the age group:  38.0
Entropy is  0.7675683213633154
For the age group:  38.5
Entropy is  0.7676102110132577
For the age group:  39.0
Entropy is  0.7676218909648836
For the age group:  40.0
Entropy is  0.7676520616184085
For the age group:  40.5
Entropy is  0.7676834185538365
For the age group:  41.0
Entropy is  0.7677372009218693
For the age group:  42.0
Entropy is  0.7676102853457281
For the age group:  43.0
Entropy is  0.7674001429726393
For the age group:  44.0
Entropy is  0.7673466188600904
For the age group:  45.0
Entropy is  0.7676935367870212
For the age group:  45.5
Entropy is  0.7677194626844012
For the age group:  46.0
Entropy is  0.7677345583737444
For the age group:  47.0
Entropy is  0.7675939270104253
For the age group:  48.0
Entropy is  0.7676117332095733
For the age group:  49.0
Entropy is  0.7673158453594939
For the age group:  50.0
Entropy is  0.7675387697388455
For the age group:  51.0
Entropy is  0.767730416324646
For the age group:  52.0
Entropy is  0.7676763021960122
For the age group:  53.0
Entropy is  0.7672792581594684
For the age group:  54.0
Entropy is  0.7670429928635236
For the age group:  55.0
Entropy is  0.7664311258090883
For the age group:  55.5
Entropy is  0.7666400689778738
For the age group:  56.0
Entropy is  0.7662715601149505
For the age group:  57.0
Entropy is  0.7670974014359552
For the age group:  58.0
Entropy is  0.7663442342118155
For the age group:  59.0
Entropy is  0.7663588784422923
For the age group:  60.0
Entropy is  0.763414329870981
For the age group:  61.0
Entropy is  0.7651727361317424
For the age group:  62.0
Entropy is  0.7654109804782524
For the age group:  63.0
Entropy is  0.7651369945091199
For the age group:  64.0
Entropy is  0.7613706152054522
For the age group:  65.0
Entropy is  0.7635058470913466
For the age group:  66.0
Entropy is  0.7642153260046829
For the age group:  70.0
Entropy is  0.7656309082892571
For the age group:  70.5
Entropy is  0.7663370189404218
For the age group:  71.0
Entropy is  0.7670420140874549
For the age group:  74.0
Entropy is  0.7677458973254976

In [352]:
print('The min entropy is',np.min(entropy_age),'for the age group 15')

The min entropy is 0.7593471485645501 for the age group 15

In [354]:
#6

#Entropy values of split with respect to sex
sex1=x_train[x_train.sex=='male']
ss1=len(d2[(d2.sex=='male') & (d2.survived==1)])
sd1=len(d2[(d2.sex=='male') & (d2.survived==0)])
sex2=x_train[x_train.sex=='female']
ss2=len(d2[(d2.sex=='female') & (d2.survived==1)])
sd2=len(d2[(d2.sex=='female') & (d2.survived==0)])
e2=(len(sex1)/len(d2))*entropy(ss1,sd1)+(len(sex2)/len(d2))*entropy(ss2,sd2)
print('Entropy with respect to sex is', e2)

Entropy with respect to sex is 0.7381271184233056

In [351]:
vect2=pd.Series(np.sort(x_train.pclass.unique()))
vect2

0    1
1    2
2    3
dtype: int64

In [362]:
#Entropy values of split with respect to pclass
entropy_pclass=[]
for i in vect2:
    print('For the pclass group: ',i)
    pclass1=x_train[x_train.pclass<=i]
    ps1=len(d2[(d2.pclass<=i) & (d2.survived==1)])
    pd1=len(d2[(d2.pclass<=i) & (d2.survived==0)])
    pclass2=x_train[x_train.pclass>i]
    ps2=len(d2[(d2.pclass>i) & (d2.survived==1)])
    pd2=len(d2[(d2.pclass>i) & (d2.survived==0)])
    e3=(len(pclass1)/len(d2))*entropy(ps1,pd1)+(len(pclass2)/len(d2))*entropy(ps2,pd2)
    entropy_pclass.append(e3)
    print('Entropy is ', e3)

For the pclass group:  1
Entropy is  0.8897023777301396
For the pclass group:  2
Entropy is  0.8858709386631788
For the pclass group:  3
Entropy is  0.9511183912871487

In [361]:
vect3=pd.Series(np.sort(x_train.parch.unique()))
vect3

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    9
dtype: int64

In [363]:
#Entropy values of split with respect to parch
entropy_parch=[]
for i in vect3:
    print('For the parch number: ',i)
    parch1=x_train[x_train.parch<=i]
    pas1=len(d2[(d2.parch<=i) & (d2.survived==1)])
    pad1=len(d2[(d2.parch<=i) & (d2.survived==0)])
    parch2=x_train[x_train.parch>i]
    pas2=len(d2[(d2.parch>i) & (d2.survived==1)])
    pad2=len(d2[(d2.parch>i) & (d2.survived==0)])
    e4=(len(parch1)/len(d2))*entropy(pas1,pad1)+(len(parch2)/len(d2))*entropy(pas2,pad2)
    entropy_parch.append(e4)
    print('Entropy is ', e4)

For the parch number:  0
Entropy is  0.9328668279020409
For the parch number:  1
Entropy is  0.9487310213026103
For the parch number:  2
Entropy is  0.9499325981543705
For the parch number:  3
Entropy is  0.9463713433241798
For the parch number:  4
Entropy is  0.9459900033066303
For the parch number:  5
Entropy is  0.9492011104306504
For the parch number:  6
Entropy is  0.9498409821217193
For the parch number:  9
Entropy is  0.9511183912871487

In [368]:
#7

#sThe lowest entropy is with the split at sex

#Highest entropy gain with respect to sex
Entropy_gain=eroot-e2
Entropy_gain

0.21299127286384323

#### Thus, after comparing the values, we found out that sex is the best feature for the first split as it has the lowest entropy thereby giving the highest information gain.

In [374]:
#Percentage of survived and non-survived in first branch

print("The Survived percentage in 1st branch is : ", len(d2[(d2.sex=='female') & (d2.survived==1)])/len(d2[d2.sex=='female'])*100)
print("The Non-Survived percentage in 1st branch is : ", (1-len(d2[(d2.sex=='female') & (d2.survived==1)])/len(d2[d2.sex=='female']))*100)

The Survived percentage in 1st branch is :  71.80851063829788
The Non-Survived percentage in 1st branch is :  28.191489361702125

In [375]:
#Percentage of survived and non-survived in second branch

print("The Survived percentage in 2nd branch is : ", len(d2[(d2.sex=='male') & (d2.survived==1)])/len(d2[d2.sex=='male'])*100)
print("The Non-Survived percentage in 2nd branch is : ", (1-len(d2[(d2.sex=='male') & (d2.survived==1)])/len(d2[d2.sex=='male']))*100)

The Survived percentage in 2nd branch is :  17.58569299552906
The Non-Survived percentage in 2nd branch is :  82.41430700447094

In [379]:
#1st branch data
d21=d2[d2.sex=='female']

In [380]:
#2nd branch data
d22=d2[d2.sex=='male']i

##  1st branch split

In [408]:
vage=pd.Series(np.sort(d21.age.unique()))

In [409]:
#1st branch split with respect to age

entropy_age2=[]
for i in vage.iloc[:-1]:
    print('For the age group: ',i)
    age1=d21[d21.age<=i]
    as1=len(d21[(d21.age<=i) & (d21.survived==1)])
    ad1=len(d21[(d21.age<=i) & (d21.survived==0)])
    age2=d21[d21.age>i]
    as2=len(d21[(d21.age>i) & (d21.survived==1)])
    ad2=len(d21[(d21.age>i) & (d21.survived==0)])
    e21=(len(age1)/len(d21))*entropy(as1,ad1)+(len(age2)/len(d21))*entropy(as2,ad2)
    entropy_age2.append(e21)
    print('Entropy is ', e21)

For the age group:  0.1667
Entropy is  0.677781537132748
For the age group:  0.75
Entropy is  0.6793103319129103
For the age group:  0.9167
Entropy is  0.6808348615793572
For the age group:  1.0
Entropy is  0.6752389759570171
For the age group:  2.0
Entropy is  0.6710072211509404
For the age group:  3.0
Entropy is  0.6672046264036683
For the age group:  4.0
Entropy is  0.671082805938947
For the age group:  5.0
Entropy is  0.673568671961989
For the age group:  6.0
Entropy is  0.6718990358920011
For the age group:  7.0
Entropy is  0.6726815835093667
For the age group:  8.0
Entropy is  0.6724849602877297
For the age group:  9.0
Entropy is  0.6696819227797981
For the age group:  10.0
Entropy is  0.6675824921204376
For the age group:  11.0
Entropy is  0.6652669790661709
For the age group:  12.0
Entropy is  0.66640950940632
For the age group:  13.0
Entropy is  0.6684313409910172
For the age group:  14.0
Entropy is  0.6682462831213627
For the age group:  15.0
Entropy is  0.6719606940982643
For the age group:  16.0
Entropy is  0.6722755659841175
For the age group:  17.0
Entropy is  0.6722749392123729
For the age group:  18.0
Entropy is  0.6693480534885318
For the age group:  18.5
Entropy is  0.6677076322472475
For the age group:  19.0
Entropy is  0.6721953837381551
For the age group:  20.0
Entropy is  0.6697403442588565
For the age group:  21.0
Entropy is  0.6663980401114505
For the age group:  22.0
Entropy is  0.668894421738168
For the age group:  23.0
Entropy is  0.6701091657161555
For the age group:  24.0
Entropy is  0.672730530315567
For the age group:  25.0
Entropy is  0.6695364199024012
For the age group:  26.0
Entropy is  0.6686170753393761
For the age group:  27.0
Entropy is  0.6681380021727783
For the age group:  28.0
Entropy is  0.6696239327331526
For the age group:  29.0
Entropy is  0.6686227378089116
For the age group:  30.0
Entropy is  0.6673770098950839
For the age group:  30.5
Entropy is  0.6655786522593776
For the age group:  31.0
Entropy is  0.6653267380333265
For the age group:  32.0
Entropy is  0.6645517051715574
For the age group:  32.5
Entropy is  0.665169556321725
For the age group:  33.0
Entropy is  0.668548758792572
For the age group:  34.0
Entropy is  0.6704843923203883
For the age group:  35.0
Entropy is  0.6720816159643266
For the age group:  36.0
Entropy is  0.6730398656169712
For the age group:  37.0
Entropy is  0.6707463977007598
For the age group:  38.0
Entropy is  0.668805812071307
For the age group:  39.0
Entropy is  0.6681888701945391
For the age group:  40.0
Entropy is  0.6689807478183322
For the age group:  41.0
Entropy is  0.6654701931524688
For the age group:  42.0
Entropy is  0.667477373762386
For the age group:  43.0
Entropy is  0.6647662326516955
For the age group:  44.0
Entropy is  0.6661900903246838
For the age group:  45.0
Entropy is  0.6640693179323112
For the age group:  47.0
Entropy is  0.6616243707828144
For the age group:  48.0
Entropy is  0.662279211820803
For the age group:  49.0
Entropy is  0.6641472763763498
For the age group:  50.0
Entropy is  0.6612231330147224
For the age group:  52.0
Entropy is  0.6632798687401174
For the age group:  53.0
Entropy is  0.6652804142588582
For the age group:  54.0
Entropy is  0.6681572822012765
For the age group:  55.0
Entropy is  0.6708454132399574
For the age group:  56.0
Entropy is  0.6716874045003066
For the age group:  58.0
Entropy is  0.673985852864351
For the age group:  59.0
Entropy is  0.6746491793691813
For the age group:  60.0
Entropy is  0.6760904894616271
For the age group:  62.0
Entropy is  0.6762478443644311
For the age group:  63.0
Entropy is  0.6793103319129103
For the age group:  64.0
Entropy is  0.6762485094016742

In [410]:
print('The min entropy is',np.min(entropy_age2),'for the age group 50')

The min entropy is 0.6612231330147224 for the age group 50

In [395]:
vage2=pd.Series(np.sort(d21.pclass.unique()))
vage2

0    1
1    2
2    3
dtype: int64

In [396]:
#1st branch split with respect to pclass
entropy_pclass2=[]
for i in vage2:
    print('For the pclass group: ',i)
    pclass1=d21[d21.pclass<=i]
    ps1=len(d21[(d21.pclass<=i) & (d21.survived==1)])
    pd1=len(d21[(d21.pclass<=i) & (d21.survived==0)])
    pclass2=d21[d21.pclass>i]
    ps2=len(d21[(d21.pclass>i) & (d21.survived==1)])
    pd2=len(d21[(d21.pclass>i) & (d21.survived==0)])
    e22=(len(pclass1)/len(d21))*entropy(ps1,pd1)+(len(pclass2)/len(d21))*entropy(ps2,pd2)
    entropy_pclass2.append(e22)
    print('Entropy is ', e22)

For the pclass group:  1
Entropy is  0.7438189068810472
For the pclass group:  2
Entropy is  0.6460214283029786
For the pclass group:  3
Entropy is  0.8580468852217238

In [397]:
print('The min entropy is',np.min(entropy_pclass2),'for pclass group 2')

The min entropy is 0.6460214283029786 for pclass group 2

In [398]:
vage3=pd.Series(np.sort(d21.parch.unique()))
vage3

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    9
dtype: int64

In [399]:
#Entropy values of 1st split with respect to parch
entropy_parch2=[]
for i in vage3:
    print('For the parch number: ',i)
    parch1=d21[d21.parch<=i]
    pas1=len(d21[(d21.parch<=i) & (d21.survived==1)])
    pad1=len(d21[(d21.parch<=i) & (d21.survived==0)])
    parch2=d21[d21.parch>i]
    pas2=len(d21[(d21.parch>i) & (d21.survived==1)])
    pad2=len(d21[(d21.parch>i) & (d21.survived==0)])
    e23=(len(parch1)/len(d21))*entropy(pas1,pad1)+(len(parch2)/len(d21))*entropy(pas2,pad2)
    entropy_parch2.append(e23)
    print('Entropy is ', e23)

For the parch number:  0
Entropy is  0.85367272573818
For the parch number:  1
Entropy is  0.8404940880797093
For the parch number:  2
Entropy is  0.8423053277897845
For the parch number:  3
Entropy is  0.82917789775377
For the parch number:  4
Entropy is  0.8334244515017617
For the parch number:  5
Entropy is  0.8482781545414313
For the parch number:  6
Entropy is  0.8531756754256622
For the parch number:  9
Entropy is  0.8580468852217238

#### The minimum entropy for 2nd split is with respect to P class group 2 as the entropy is least with the value of 0.6460 thereby getting the maximum information gain.

In [430]:
#1st branch data
de21=d21[d21.pclass<=2]

In [432]:
#2nd branch data 
de22=d21[d21.pclass>2]

In [433]:
#Percentage of survived and non-survived after splitting first branch with respect to pclass group 2

print("The Survived percentage in 1st branch is : ", len(d21[(d21.pclass<=2) & (d21.survived==1)])/len(d21[d21.pclass<=2])*100)
print("The Non- Survived percentage in 1st branch is : ",100- len(d21[(d21.pclass<=2) & (d21.survived==1)])/len(d21[d21.pclass<=2])*100)

The Survived percentage in 1st branch is :  93.93939393939394
The Non- Survived percentage in 1st branch is :  6.060606060606062

In [435]:
#Percentage of survived and non-survived after splitting first branch with respedct to pclass group 2

print("The Survived percentage in 2nd branch is : ", len(d21[(d21.pclass>2) & (d21.survived==1)])/len(d21[d21.pclass>2])*100)
print("The Non- Survived percentage in 2nd branch is : ",100- len(d21[(d21.pclass>2) & (d21.survived==1)])/len(d21[d21.pclass>2])*100)

The Survived percentage in 2nd branch is :  47.19101123595505
The Non- Survived percentage in 2nd branch is :  52.80898876404495

### 2nd split branch 1

In [436]:
va=pd.Series(np.sort(de21.age.unique()))

In [437]:
#1st branch 2nd split with respect to age

entropy_age3=[]
for i in va.iloc[:-1]:
    print('For the age group: ',i)
    age1=de21[de21.age<=i]
    as1=len(de21[(de21.age<=i) & (de21.survived==1)])
    ad1=len(de21[(de21.age<=i) & (de21.survived==0)])
    age2=de21[de21.age>i]
    as2=len(de21[(de21.age>i) & (de21.survived==1)])
    ad2=len(de21[(de21.age>i) & (de21.survived==0)])
    ee21=(len(age1)/len(de21))*entropy(as1,ad1)+(len(age2)/len(de21))*entropy(as2,ad2)
    entropy_age3.append(ee21)
    print('Entropy is ', ee21)

For the age group:  0.9167
Entropy is  0.30943356813346473
For the age group:  1.0
Entropy is  0.3140386571354987
For the age group:  2.0
Entropy is  0.2990314069383298
For the age group:  3.0
Entropy is  0.30046184966143974
For the age group:  4.0
Entropy is  0.3015160560484249
For the age group:  7.0
Entropy is  0.3023208419047213
For the age group:  8.0
Entropy is  0.3034407462085569
For the age group:  12.0
Entropy is  0.303829497517894
For the age group:  13.0
Entropy is  0.30413436961534246
For the age group:  14.0
Entropy is  0.3043702044185248
For the age group:  15.0
Entropy is  0.3046765952807391
For the age group:  16.0
Entropy is  0.3047623556459562
For the age group:  17.0
Entropy is  0.30481179604701447
For the age group:  18.0
Entropy is  0.3040430064515631
For the age group:  19.0
Entropy is  0.30468593182102377
For the age group:  20.0
Entropy is  0.30481769958941574
For the age group:  21.0
Entropy is  0.3047025637500958
For the age group:  22.0
Entropy is  0.3047242218364841
For the age group:  23.0
Entropy is  0.30481992859255164
For the age group:  24.0
Entropy is  0.3048047791652213
For the age group:  25.0
Entropy is  0.30334602841663466
For the age group:  26.0
Entropy is  0.30351969996553285
For the age group:  27.0
Entropy is  0.3038325508863462
For the age group:  28.0
Entropy is  0.3042181882226179
For the age group:  29.0
Entropy is  0.3026628353205436
For the age group:  30.0
Entropy is  0.300969012132566
For the age group:  31.0
Entropy is  0.30221145645485026
For the age group:  32.0
Entropy is  0.30264047371267966
For the age group:  32.5
Entropy is  0.30284060557019815
For the age group:  33.0
Entropy is  0.30369845573698284
For the age group:  34.0
Entropy is  0.3042135522228291
For the age group:  35.0
Entropy is  0.30469704492930394
For the age group:  36.0
Entropy is  0.3037340538817746
For the age group:  37.0
Entropy is  0.30387910709405974
For the age group:  38.0
Entropy is  0.3003753072512008
For the age group:  39.0
Entropy is  0.3020020946344205
For the age group:  40.0
Entropy is  0.30310949397339443
For the age group:  41.0
Entropy is  0.3034849417064674
For the age group:  42.0
Entropy is  0.30397074200843927
For the age group:  44.0
Entropy is  0.30424000937221607
For the age group:  45.0
Entropy is  0.3048179571988856
For the age group:  47.0
Entropy is  0.3048260167364316
For the age group:  48.0
Entropy is  0.3044988204484549
For the age group:  49.0
Entropy is  0.30422041906266756
For the age group:  50.0
Entropy is  0.3045122793729582
For the age group:  52.0
Entropy is  0.3047061487910444
For the age group:  53.0
Entropy is  0.30481179604701447
For the age group:  54.0
Entropy is  0.3047623556459562
For the age group:  55.0
Entropy is  0.3043702044185248
For the age group:  56.0
Entropy is  0.30413436961534246
For the age group:  58.0
Entropy is  0.30294764644109046
For the age group:  59.0
Entropy is  0.3023208419047213
For the age group:  60.0
Entropy is  0.2990314069383298
For the age group:  62.0
Entropy is  0.2969638292429368
For the age group:  63.0
Entropy is  0.3140386571354987
For the age group:  64.0
Entropy is  0.3048260167364316

In [439]:
print('The min entropy is',np.min(entropy_age3),'for the age group 62')

The min entropy is 0.2969638292429368 for the age group 62

In [440]:
va2=pd.Series(np.sort(de21.parch.unique()))
va2

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [441]:
#Entropy values of 2nd split of 1st branch with respect to parch
entropy_parch3=[]
for i in va2:
    print('For the parch number: ',i)
    parch1=de21[de21.parch<=i]
    pas1=len(de21[(de21.parch<=i) & (de21.survived==1)])
    pad1=len(de21[(de21.parch<=i) & (de21.survived==0)])
    parch2=de21[de21.parch>i]
    pas2=len(de21[(de21.parch>i) & (de21.survived==1)])
    pad2=len(de21[(de21.parch>i) & (de21.survived==0)])
    ee23=(len(parch1)/len(de21))*entropy(pas1,pad1)+(len(parch2)/len(de21))*entropy(pas2,pad2)
    entropy_parch3.append(ee23)
    print('Entropy is ', ee23)

For the parch number:  0
Entropy is  0.327547015538825
For the parch number:  1
Entropy is  0.3298106822303092
For the parch number:  2
Entropy is  0.34820665080548574
For the parch number:  3
Entropy is  0.3344398395390631
For the parch number:  4
Entropy is  0.32984607020714635

#### The min entropy for 2nd split is 0.2969 for the age group 62

In [446]:
print("The Survived percentage in 1st branch is : ", len(de21[(de21.age<=62) & (de21.survived==1)])/len(de21[de21.age<=62])*100)
print("The Non- Survived percentage in 1st branch is : ",100- len(de21[(de21.age<=62) & (de21.survived==1)])/len(de21[de21.age<=62])*100)

The Survived percentage in 1st branch is :  94.56521739130434
The Non- Survived percentage in 1st branch is :  5.434782608695656

In [447]:
print("The Survived percentage in 2nd branch is : ", len(de21[(de21.age>62) & (de21.survived==1)])/len(de21[de21.age>62])*100)
print("The Non- Survived percentage in 2nd branch is : ",100- len(de21[(de21.age>62) & (de21.survived==1)])/len(de21[de21.age>62])*100)

The Survived percentage in 2nd branch is :  66.66666666666666
The Non- Survived percentage in 2nd branch is :  33.33333333333334

### 2nd split branch 2

In [486]:
#FUNCTION TO CALCULATE THE ENTROPIES
def fentropy(x,y):
    en=[]
    vec=pd.Series(np.sort(y.unique()))
    for i in vec:
        print('For the group number: ',i)
        parch1=x[y<=i]
        pas1=len(x[(y<=i) & (x.survived==1)])
        pad1=len(x[(y<=i) & (x.survived==0)])
        parch2=x[y>i]
        pas2=len(x[(y>i) & (x.survived==1)])
        pad2=len(x[(y>i) & (x.survived==0)])
        ee23=(len(parch1)/len(x))*entropy(pas1,pad1)+(len(parch2)/len(x))*entropy(pas2,pad2)
        en.append(ee23)
        print(ee23)
    print('The lowest entropy is :',min(en))

In [487]:
#Entropy values of 2nd split of 1st branch with respect to parch

fentropy(de22,de22.parch)

For the group number:  0
0.9805370515099496
For the group number:  1
0.9691040490836185
For the group number:  2
0.9700718010630626
For the group number:  3
0.9549608243011968
For the group number:  4
0.971324407369259
For the group number:  5
0.987289895559007
For the group number:  6
0.9925266821248752
For the group number:  9
0.9977221075331743
The lowest entropy is : 0.9549608243011968

In [488]:
fentropy(de22,de22.age)

For the group number:  0.1667
0.691050711841838
For the group number:  0.75
0.6901042520270885
For the group number:  1.0
0.681135467438621
For the group number:  2.0
0.6919075273781777
For the group number:  3.0
0.6903631638699461
For the group number:  4.0
0.6918923087746824
For the group number:  5.0
0.6882381300341884
For the group number:  6.0
0.6899741520665036
For the group number:  8.0
0.6911120912500086
For the group number:  9.0
0.691666351900723
For the group number:  10.0
0.6919119321333549
For the group number:  11.0
0.6917845687643589
For the group number:  13.0
0.6918937150294613
For the group number:  14.0
0.6918627086552253
For the group number:  15.0
0.6892575646125655
For the group number:  16.0
0.6874550679459799
For the group number:  17.0
0.6871141823960905
For the group number:  18.0
0.6878302917081073
For the group number:  18.5
0.6891178527954553
For the group number:  19.0
0.6836444903638519
For the group number:  20.0
0.68848623864541
For the group number:  21.0
0.6916473871978266
For the group number:  22.0
0.6864947591854723
For the group number:  23.0
0.6835171690736443
For the group number:  24.0
0.6824293733806411
For the group number:  25.0
0.6860461164674787
For the group number:  26.0
0.6825393835065534
For the group number:  27.0
0.677671506976726
For the group number:  29.0
0.6790902461134268
For the group number:  30.0
0.6826863880117668
For the group number:  30.5
0.6847370539638769
For the group number:  31.0
0.6858282899512751
For the group number:  32.0
0.687555301949904
For the group number:  33.0
0.6849643461619547
For the group number:  35.0
0.6839296103881309
For the group number:  36.0
0.6782931189312031
For the group number:  37.0
0.6836465016141332
For the group number:  38.0
0.681933181904918
For the group number:  39.0
0.6868412765844366
For the group number:  40.0
0.6888033719059417
For the group number:  41.0
0.6914378144494616
For the group number:  43.0
0.6919075273781777
For the group number:  45.0
0.6917580588681853
For the group number:  47.0
0.6918381751581185
For the group number:  48.0
0.691050711841838
For the group number:  63.0
0.6919156946501327
For the group number:  nan
0.0
The lowest entropy is : 0.0

The lowest entropy for age group 27 is 0.6776

## 2nd BRANCH SPLIT

In [503]:
#Splitting on age

fentropy(d22,d22.age)

For the group number:  0.3333
0.5424130674874711
For the group number:  0.4167
0.5418351498012429
For the group number:  0.6667
0.5393838598647402
For the group number:  0.75
0.540789321263149
For the group number:  0.8333
0.5384730702777168
For the group number:  0.9167
0.5358409600973429
For the group number:  1.0
0.5293972395060004
For the group number:  2.0
0.5293206067525348
For the group number:  3.0
0.521073219579655
For the group number:  4.0
0.5260337558816615
For the group number:  5.0
0.5273755214574286
For the group number:  6.0
0.5237293688366471
For the group number:  7.0
0.5238402380152349
For the group number:  8.0
0.5201377373382003
For the group number:  9.0
0.5136790554713536
For the group number:  10.0
0.5150757861216777
For the group number:  11.0
0.51511751991798
For the group number:  12.0
0.5125159778401551
For the group number:  13.0
0.5125098473097195
For the group number:  14.0
0.5149385625351038
For the group number:  15.0
0.5160748532569963
For the group number:  16.0
0.5207072788747493
For the group number:  17.0
0.5249766288122851
For the group number:  18.0
0.5328227469898228
For the group number:  18.5
0.5336728564815649
For the group number:  19.0
0.5362915364616335
For the group number:  20.0
0.5350015268733674
For the group number:  20.5
0.5353232293867874
For the group number:  21.0
0.5390857901851349
For the group number:  22.0
0.5402242145359057
For the group number:  23.0
0.5409687586103218
For the group number:  23.5
0.541099527290519
For the group number:  24.0
0.541653595435795
For the group number:  25.0
0.5415000886583838
For the group number:  26.0
0.5414523101502892
For the group number:  26.5
0.5415575772660586
For the group number:  27.0
0.540903674719645
For the group number:  28.0
0.5419159181988391
For the group number:  28.5
0.5420813983113639
For the group number:  29.0
0.541663378970483
For the group number:  30.0
0.5420588949772878
For the group number:  30.5
0.5421370580205842
For the group number:  31.0
0.5411505719908356
For the group number:  32.0
0.5396295132705792
For the group number:  32.5
0.5399435502969321
For the group number:  33.0
0.5409214379505309
For the group number:  34.0
0.5408091647176768
For the group number:  34.5
0.5410628601402633
For the group number:  35.0
0.540176774335736
For the group number:  36.0
0.5400637153369898
For the group number:  36.5
0.5402190116903016
For the group number:  37.0
0.5402773798956387
For the group number:  38.0
0.5401771474675385
For the group number:  38.5
0.5403323687014394
For the group number:  39.0
0.5409632040084051
For the group number:  40.0
0.5415211648439302
For the group number:  40.5
0.5416367542179373
For the group number:  41.0
0.5423100423933053
For the group number:  42.0
0.5425311050453137
For the group number:  43.0
0.5425009653764052
For the group number:  44.0
0.5425370389821073
For the group number:  45.0
0.5414137473321669
For the group number:  45.5
0.5415504444471518
For the group number:  46.0
0.5420375437038571
For the group number:  47.0
0.5425741499954859
For the group number:  48.0
0.5411551814747008
For the group number:  49.0
0.5386143482957257
For the group number:  50.0
0.5391754547108414
For the group number:  51.0
0.5401524991393157
For the group number:  52.0
0.5394514624699683
For the group number:  53.0
0.5375785741816865
For the group number:  54.0
0.5368492985480827
For the group number:  55.0
0.5375525273289142
For the group number:  55.5
0.5378962863667887
For the group number:  56.0
0.5355811396216641
For the group number:  57.0
0.5371750518105273
For the group number:  58.0
0.5379449411435256
For the group number:  59.0
0.5386934578730763
For the group number:  60.0
0.5340043624877897
For the group number:  61.0
0.5359019958250899
For the group number:  62.0
0.5373141563974834
For the group number:  63.0
0.5377827940552563
For the group number:  64.0
0.5387169732029861
For the group number:  65.0
0.5401105695555249
For the group number:  66.0
0.5405730736451382
For the group number:  70.0
0.5414950663346392
For the group number:  70.5
0.541954563683716
For the group number:  71.0
0.5424130674874711
For the group number:  74.0
0.5428705820493753
For the group number:  nan
0.0
The lowest entropy is : 0.0

In [492]:
#Splitting on pclass

fentropy(d22,d22.pclass)

For the group number:  1
0.6391971204304095
For the group number:  2
0.6563365471652185
For the group number:  3
0.6709291567001979
The lowest entropy is : 0.6391971204304095

In [505]:
#Splitting on parch 
fentropy(d22,d22.parch)

For the group number:  0
0.6573008900194899
For the group number:  1
0.6695477447978032
For the group number:  2
0.6680013467174685
For the group number:  3
0.6688413281406776
For the group number:  4
0.6696785289439009
For the group number:  5
0.6705129675335227
For the group number:  9
0.6709291567001979
The lowest entropy is : 0.6573008900194899

#### The next split is on Age group 13 as the lowest entropy of 0.5125 was found that group.

In [507]:
d221=d22[d22.age<=13]

In [506]:
d222=d22[d22.age>13]

In [509]:
#Splitting Age group >13 with respect to pclass

fentropy(d222,d222.pclass)

For the group number:  1
0.5920063064102918
For the group number:  2
0.6273273167383945
For the group number:  3
0.6351164767504011
The lowest entropy is : 0.5920063064102918

In [510]:
#Splitting Age group >13 with respect to parch

fentropy(d222,d222.parch)

For the group number:  0
0.6350122143304313
For the group number:  1
0.6347239445039348
For the group number:  2
0.631902824578395
For the group number:  3
0.6329790232025846
For the group number:  4
0.6340502251593907
For the group number:  5
0.6351164767504011
The lowest entropy is : 0.631902824578395

#### The next split for age group >13 is on pclass 1 as the lowest entropy of 0.59200 was found that group.

In [512]:
#Splitting Age group <=13 with respect to pclass

fentropy(d221,d221.pclass)

For the group number:  1
0.9995698112198212
For the group number:  2
0.9282223708830589
For the group number:  3
0.996485989886783
The lowest entropy is : 0.9282223708830589

In [513]:
#Splitting Age group <=13 with respect to parch

fentropy(d221,d221.parch)

For the group number:  0
0.9963142749742503
For the group number:  1
0.9793752078710399
For the group number:  2
0.996485989886783
The lowest entropy is : 0.9793752078710399

#### The next split for age group <=13 is on parch number 1 as the lowest entropy of 0.9793  was found that group.

In [526]:
def fentropy2(col_data, col_name):
    r = pd.DataFrame(columns = ['value', 'entropy', 'weight'])
    len_tot = len(col_data)
    gain = 0
    for i in col_data[col_name].unique():
        x = col_data[col_data[col_name] == i]
        col_weight = len(x)
        e1 = len(x[x['survived'] == 1])
        e2 = len(x[x['survived'] == 0])
        entr = entropy(e1, e2)
        idx = len(r) + 1
        r.loc[idx] = [i,entr,col_weight]
        gain = gain + (entr*col_weight/len_tot)
    
    return(r,gain)

In [528]:
dff, col2 = fentropy2(d2, 'pclass')
print(dff)
print("column entropy is", col2)

   value   entropy  weight
1    3.0  0.790299   565.0
2    1.0  0.957932   258.0
3    2.0  0.981287   224.0
column entropy is 0.8724679590932525

In [529]:
def split(data, cols):
    final_entropy  = pd.DataFrame(columns = ['split_value', 'entropy', 'column'])
    for col in cols:
        for i in data[col].unique():
            data['class'] = np.where(data[col] > i, 1,0)
            
            df, ent = fentropy2(data, 'class')
            idx = len(final_entropy) + 1
            final_entropy.loc[idx] = [i, ent, col]
    return(final_entropy[final_entropy['entropy'] == final_entropy['entropy'].min()])

In [540]:
def pfind(data):
    if(len(data['survived'].unique()) > 0):
        p1 = len(data[data['survived'] == 1])/len(data)*100
        p0 = len(data[data['survived'] == 0])/len(data)*100
    else:   
        if(data['survived'].unique() == 0):
            p0 = 100
            p1 = 0
        else:
            p1 = 100
            p0 = 0

    return(p1, p0)

In [544]:
tree = pd.DataFrame(columns = ['path', 'data_length', 'sur', 'not_sur', 'columnOfSplit', 'thresholdOfSplit'])
path = 'root'
def tree_maker(data, path):
    cols = data.columns.drop(['survived'])
    re = split(data, cols)
    if(np.shape(re)[0]>1):
        return(1)
    per_sur, per_nsur = pfind(data)
    tc = re['column'].item()
    sp = re['split_value'].item()
    data_left = data[ data[tc] > sp]
    data_right = data.drop(index = data_left.index)
    idx = len(tree) + 1
    tree.loc[idx] = [path, len(data),per_sur, per_nsur, tc, sp]
    if(per_sur == 0 or per_nsur == 0):
        idx = len(tree) + 1
        pathleaf = path + 'leaf'
        tree.loc[idx] = [pathleaf, len(data),per_sur, per_nsur, tc, sp]
        return(1)
    else:
        pathl = path + 'Left'
        pathr = path + 'Right'
        tree_maker(data_left, pathl)
        tree_maker(data_right, pathr)  

x = tree_maker(d2f, path)

C:\Users\Prathik\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [539]:
d2f = d2.dropna()

In [537]:
d2f

      pclass     sex  parch embarked    age  survived
608        3    male      0        S  30.00         0
629        3    male      5        S  39.00         0
648        3    male      0        C  21.00         0
709        3  female      0        Q  16.00         1
1276       3  female      0        S  31.00         0
1063       3    male      0        S  41.00         0
717        3    male      0        C  18.00         0
676        3    male      0        S  18.00         0
139        1  female      1        S  58.00         1
459        2    male      0        S  42.00         0
873        3    male      0        S  42.00         0
339        2    male      1        S   1.00         1
295        1    male      2        C  17.00         1
949        3    male      0        S  26.00         1
643        3  female      2        S   5.00         1
158        1    male      0        S  55.00         0
1288       3    male      0        S  18.00         0
773        3    male      0        S  42.00         0
735        3  female      2        S  36.00         1
610        3  female      0        S  40.00         0
632        3  female      5        S  39.00         0
406        2    male      0        S  40.00         0
723        3    male      0        Q  31.00         0
1104       3    male      1        S  16.00         0
395        2  female      1        S  18.00         1
612        3  female      1        S  18.00         1
226        1    male      0        S  29.00         0
834        3    male      0        S  32.00         0
501        2  female      1        S  13.00         1
853        3    male      0        S  25.00         0
...      ...     ...    ...      ...    ...       ...
165        1    male      0        S  38.00         1
855        3    male      0        C  11.00         0
555        2    male      0        S  25.00         0
1111       3    male      1        S   0.75         0
450        2    male      0        S  50.00         0
624        3  female      2        S   2.00         0
1227       3  female      0        S  22.00         0
1210       3    male      4        S  40.00         0
1256       3    male      1        C   7.00         1
375        2    male      0        S  28.00         0
1096       3    male      1        S   2.00         0
742        3    male      0        S  45.00         1
700        3    male      0        S  17.00         0
249        1    male      2        C  13.00         1
663        3    male      0        S  26.00         0
577        2  female      0        S  31.00         1
128        1    male      0        S  47.00         0
1226       3    male      0        S  19.00         0
259        1    male      0        S  34.00         1
379        2  female      1        S  31.00         1
78         1  female      2        C  64.00         1
345        2    male      0        S  23.00         0
315        1  female      0        S  21.00         1
1239       3    male      0        S  34.00         0
356        2    male      0        S  25.00         0
229        1  female      0        C  17.00         1
811        3  female      3        S  48.00         0
48         1  female      0        C  53.00         1
358        2  female      0        S  42.00         1
587        2    male      1        S   2.00         1

[826 rows x 6 columns]

In [545]:
tree

,path,data_length,sur,not_sur,columnOfSplit,thresholdOfSplit
1,root,826,39.830508,60.169492,sex,female
2,rootLeft,517,19.148936,80.851064,age,13
3,rootLeftLeft,474,16.033755,83.966245,pclass,1
4,rootLeftLeftLeft,358,10.614525,89.385475,age,32
5,rootLeftLeftLeftLeft,114,4.385965,95.614035,age,45
6,rootLeftLeftLeftLeftRight,84,5.952381,94.047619,age,43
7,rootLeftLeftLeftLeftRightLeft,7,28.571429,71.428571,pclass,2
8,rootLeftLeftLeftLeftRightLeftLeft,5,40.000000,60.000000,age,44
9,rootLeftLeftLeftLeftRightRight,77,3.896104,96.103896,embarked,C
10,rootLeftLeftLeftLeftRightRightLeft,68,2.941176,97.058824,pclass,2
11,rootLeftLeftLeftLeftRightRightLeftRight,29,6.896552,93.103448,age,34
12,rootLeftLeftLeftLeftRightRightLeftRightLeft,23,4.347826,95.652174,age,41
13,rootLeftLeftLeftLeftRightRightLeftRightLeftLeft,7,14.285714,85.714286,parch,0
14,rootLeftLeftLeftLeftRightRightRight,9,11.111111,88.888889,parch,0
15,rootLeftLeftLeftLeftRightRightRightLeft,2,50.000000,50.000000,parch,1
16,rootLeftLeftLeftRight,244,13.524590,86.475410,age,30.5
17,rootLeftLeftLeftRightLeft,23,30.434783,69.565217,embarked,Q
18,rootLeftLeftLeftRightLeftLeft,19,36.842105,63.157895,pclass,2
19,rootLeftLeftLeftRightLeftLeftLeft,13,46.153846,53.846154,age,31
20,rootLeftLeftLeftRightLeftLeftRight,6,16.666667,83.333333,age,31
21,rootLeftLeftLeftRightLeftLeftRightRight,2,50.000000,50.000000,parch,0
22,rootLeftLeftLeftRightRight,221,11.764706,88.235294,embarked,Q
23,rootLeftLeftLeftRightRightLeft,193,10.362694,89.637306,age,27
24,rootLeftLeftLeftRightRightLeftLeft,34,2.941176,97.058824,age,29
25,rootLeftLeftLeftRightRightLeftLeftLeft,11,9.090909,90.909091,pclass,2
26,rootLeftLeftLeftRightRightLeftLeftLeftLeft,5,20.000000,80.000000,age,30
27,rootLeftLeftLeftRightRightLeftRight,159,11.949686,88.050314,age,23
28,rootLeftLeftLeftRightRightLeftRightLeft,53,16.981132,83.018868,parch,0
29,rootLeftLeftLeftRightRightLeftRightLeftRight,51,15.686275,84.313725,pclass,2
30,rootLeftLeftLeftRightRightLeftRightLeftRightLeft,34,20.588235,79.411765,age,24
...,...,...,...,...,...,...
87,rootRightLeftLeftRightLeftLeftLeftLeftLeftLeft...,31,48.387097,51.612903,age,27
88,rootRightLeftLeftRightLeftLeftLeftLeftLeftLeft...,22,40.909091,59.090909,age,31
89,rootRightLeftLeftRightLeftLeftLeftLeftLeftLeft...,14,50.000000,50.000000,age,36
90,rootRightLeftLeftRightLeftLeftLeftLeftLeftLeft...,9,33.333333,66.666667,age,41
91,rootRightLeftLeftRightLeftLeftLeftLeftLeftLeft...,5,60.000000,40.000000,age,45
92,rootRightLeftLeftRightLeftLeftLeftLeftLeftLeft...,8,25.000000,75.000000,parch,0
93,rootRightLeftLeftRightLeftLeftLeftLeftLeftLeft...,9,66.666667,33.333333,parch,1
94,rootRightLeftLeftRightLeftLeftLeftLeftLeftLeft...,2,50.000000,50.000000,age,26
95,rootRightLeftLeftRightLeftLeftLeftLeftLeftLeft...,7,71.428571,28.571429,age,26
96,rootRightLeftLeftRightLeftLeftLeftLeftLeftLeft...,7,14.285714,85.714286,age,24
97,rootRightLeftLeftRightLeftLeftLeftLeftLeftRight,15,66.666667,33.333333,age,22
98,rootRightLeftLeftRightLeftLeftLeftLeftRight,18,27.777778,72.222222,age,19
99,rootRightLeftLeftRightLeftLeftLeftLeftRightRight,11,45.454545,54.545455,embarked,Q
100,rootRightLeftLeftRightLeftLeftLeftRight,7,71.428571,28.571429,parch,1
101,rootRightLeftLeftRightLeftLeftLeftRightLeft,2,50.000000,50.000000,age,16
102,rootRightLeftLeftRightRight,9,22.222222,77.777778,age,1
103,rootRightLeftRight,17,82.352941,17.647059,age,38
104,rootRightLeftRightLeft,2,50.000000,50.000000,parch,0
105,rootRightLeftRightRight,15,86.666667,13.333333,age,9
106,rootRightRight,185,94.054054,5.945946,age,60
107,rootRightRightRight,182,94.505495,5.494505,age,38
108,rootRightRightRightRight,125,92.800000,7.200000,age,37
109,rootRightRightRightRightRight,123,93.495935,6.504065,age,2
110,rootRightRightRightRightRightLeft,119,94.117647,5.882353,pclass,1
111,rootRightRightRightRightRightLeftLeft,61,91.803279,8.196721,parch,0
112,rootRightRightRightRightRightLeftLeftRight,38,89.473684,10.526316,age,24
113,rootRightRightRightRightRightLeftLeftRightLeft,24,91.666667,8.333333,age,29
114,rootRightRightRightRightRightLeftLeftRightRight,14,85.714286,14.285714,age,23
115,rootRightRightRightRightRightLeftRight,58,96.551724,3.448276,age,35
116,rootRightRightRightRightRightRight,4,75.000000,25.000000,pclass,1

In [562]:
#Test data 

d3=pd.concat([x_test,y_test],axis=1)
len(d3)
d3.head()

262

      pclass     sex  parch embarked    age  survived
657        3  female      1        C   0.75         1
573        2  female      0        S  27.00         1
1120       3    male      0        S  25.00         1
336        2    male      0        S  32.00         1
828        3  female      2        S  10.00         0

In [551]:
path = 'root'
def predict_class(row, path):
    rules = tree[tree['path'] == path]
    #print(rules)
    if(len(rules.index) == 0):
        path = path[:-1]
        rules = tree[tree['path'] == path]
        x = np.where(rules['sur'].item() > rules['not_sur'].item(), 1, 0)
        return(x.item())
    else:
        if(row[rules['columnOfSplit'].item()].item() > rules['thresholdOfSplit'].item()):
            path = path + 'Left'
            return(predict_class(row, path))
        else:
            path = path + 'Right'
            return(predict_class(row, path))

In [564]:
path = 'root'
test = pd.DataFrame([[2,1,29.00,'C',9,2]], columns = ['pclass', 'sex', 'parch','embarked','age','survived'])
test

   pclass  sex  parch embarked  age  survived
0       2    1   29.0        C    9         2

In [565]:
tree[tree['path'] == 'rootLeftRightLeft']

,path,data_length,sur,not_sur,columnOfSplit,thresholdOfSplit
75,rootLeftRightLeft,29,31.034483,68.965517,embarked,C

In [ ]:
r2 = list()
for elem in d3.iterrows():
    temp = pd.DataFrame(list(elem)[1:], columns = ['pclass', 'sex', 'parch','embarked','age','survived'])
    path = 'root'
    t = predict_class(temp, path)
    r2.append(t)

len(r2)

In [568]:
def accuracy_finder(data):
    tp = 0
    fp = 0
    tn = 0
    fn = 0
    tp = np.where(data['survived'] == data['predictions'], np.where(data['predictions']==1,1,0),0)
    fp = np.where(data['survived'] != data['predictions'], np.where(data['predictions']==1,1,0),0)
    tn = np.where(data['survived'] == data['predictions'], np.where(data['predictions']==0,1,0),0)
    fn = np.where(data['survived'] != data['predictions'], np.where(data['predictions']==0,1,0),0)
    precision = tp.sum()/(tp.sum()+fp.sum())
    recall = tp.sum()/(tp.sum()+fn.sum())
    fsc = 2/((1/precision) + (1/recall))
    accuracy = (tp.sum()+tn.sum())/(tp.sum()+tn.sum()+fp.sum()+fn.sum())
    return(accuracy,fsc,recall,precision)

This is the decision tree classifier which shows the path from the root node to the leaf of the class.

## 3.Bagging

The number of bags is 5

In [ ]:
ntree = pd.DataFrame(columns = ['path', 'data_length', 'sur', 'not_sur', 'columnOfSplit', 'thresholdOfSplit'])
path = 'root'
def ntree_maker(data, path):
    cols = data.columns.drop(['survived'])
    re = split(data, cols)
    if(np.shape(re)[0]>1):
        return(1)
    per_sur, per_nsur = pfind(data)
    tc = re['column'].item()
    sp = re['split_value'].item()
    data_left = data[ data[tc] > sp]
    data_right = data.drop(index = data_left.index)
    idx = len(ntree) + 1
    ntree.loc[idx] = [path, len(data),per_sur, per_nsur, tc, sp]
    if(per_sur == 0 or per_nsur == 0):
        idx = len(ntree) + 1
        pathleaf = path + 'leaf'
        ntree.loc[idx] = [pathleaf, len(data),per_sur, per_nsur, tc, sp]
        return(1)
    else:
        pathl = path + 'Left'
        pathr = path + 'Right'
        ntree_maker(data_left, pathl)
        ntree_maker(data_right, pathr)